body {
  background-color: #000;
}

.text1 {
  bottom: 50%;
  color: #fff;
  display: block;
  font-family: "Montserrat";
  font-size: 32px;
  margin: auto;
  margin-left: 40%;
  margin-right: 40%;
  position: absolute;
  text-align: center;
}

.text2 {
  top: 50%;
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  margin: 0 40% 70% 41%;
  position: absolute;
  text-align: center;
}
